# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# You can generate a new secret on the command line with:
# openssl rand -base64 32
AUTH_SECRET=""

NEXT_PUBLIC_ENV_ID=""

NEXT_PUBLIC_PROJECT_ID=""

# Stream IDs
NEXT_PUBLIC_POST_ID=""
NEXT_PUBLIC_CONTEXT_ID=""